/* Style untuk bagian header */
header {
    background-color: #1581A3; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 20px; /* Padding */
    display: flex; /* Menggunakan flexbox untuk layout */
    justify-content: space-between; /* Mengatur jarak antara elemen di dalam header */
    align-items: center; /* Memposisikan elemen secara vertikal di tengah */
}

/* Style untuk body */
body {
    background-color: #084255; /* Warna latar belakang */
    background-image: url('nama-file-gambar.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Menyesuaikan ukuran gambar agar mengisi seluruh area */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
}

/* Style untuk label menu dan judul web */
.menu-label, .web-title {
    font-weight: bold; /* Ketebalan teks */
    color: #fff; /* Warna teks */
}

.title-menu-container {
    display: flex; /* Menggunakan flexbox untuk layout */
    align-items: center; /* Memposisikan elemen secara vertikal di tengah */
}

/* Style untuk navigasi */
header nav ul {
    list-style: none; /* Menghilangkan tanda bullet pada daftar */
    display: flex; /* Menggunakan flexbox untuk layout */
}

header nav ul li {
    margin-right: 80px; /* Jarak antara item menu */
    flex-grow: 1; /* Membagi ruang secara merata antara setiap item menu */
}

header nav ul li a {
    color: #fff; /* Warna teks */
    text-decoration: none; /* Menghilangkan dekorasi hyperlink */
}

header nav ul li a:hover {
    color: #00fbff; /* Warna teks saat hover */
    text-decoration: none; /* Menghilangkan dekorasi hyperlink saat hover */
}

header nav ul li a {
    font-family: "San", sans-serif; /* Mengatur jenis font */
    font-weight: bold; /* Ketebalan teks */
}

/* Style untuk bagian utama */
main {
    display: flex; /* Menggunakan flexbox untuk layout */
    justify-content: space-between; /* Mengatur jarak antara elemen di dalam main */
    padding: 20px; /* Padding */
}

aside {
    width: 30%; /* Lebar sisi aside */
}

aside img {
    width: 100%; /* Lebar gambar */
    height: auto; /* Tinggi gambar menyesuaikan proporsi */
}

article {
    width: 100%; /* Lebar artikel */
}

/* Style untuk teks dalam artikel dan pendidikan */
article h2, .education h3, article p {
    color: #fff; /* Warna teks */
}

.education {
    margin-top: 20px; /* Jarak antara riwayat pendidikan dengan teks sebelumnya */
}

.education h3 {
    font-size: 18px; /* Ukuran teks */
    margin-bottom: 6px; /* Jarak bawah */
}

.education-item {
    background-color: #f0f0f0; /* Warna latar belakang */
    padding: 6px; /* Padding */
    margin-bottom: 6px; /* Jarak bawah */
    color: #fff; /* Warna teks */
}

/* Style untuk kotak riwayat pendidikan dengan warna berganti-ganti */
.education-item:nth-child(odd), .education-item:nth-child(even) {
    background-color: #1581A3; /* Warna latar belakang */
}

.video-iframe {
    display: block; /* Mengubah display menjadi blok untuk dapat menggunakan margin otomatis */
    margin: 0 auto; /* Mengatur margin otomatis horizontal untuk meletakkan iframe di tengah */
}

/* Style untuk footer */
footer {
    background-color: #1581A3; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    text-align: center; /* Posisi teks */
    padding: 10px; /* Padding */
    position: fixed; /* Menetapkan posisi footer */
    bottom: 0; /* Memastikan footer berada di bagian bawah halaman */
    width: 98%; /* Lebar footer */
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column; /* Mengubah arah layout menjadi kolom */
    }

    aside {
        width: 100%; /* Lebar aside */
    }

    aside img {
        width: 80%; /* Lebar gambar */
        height: auto; /* Tinggi gambar menyesuaikan proporsi */
    }

    article {
        width: 100%; /* Lebar artikel */
        margin-top: 20px; /* Jarak antara artikel dengan elemen di atasnya */
    }
}

@media only screen and (max-width: 480px) {
    header nav ul li {
        display: block; /* Mengubah tata letak menu menjadi blok */
        margin-bottom: 10px; /* Jarak antara item menu */
        flex-grow: 0; /* Menonaktifkan pembagian ruang antara item menu */
    }
}
